body {
    background-color: #F8ECD1;
}

.container {
    background-color: #DEB6AB;
    width: 60%;
    margin: auto;
}

h1, #description {
    text-align: center;
}

form {
    background-color: #AC7D88;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

form input, select {
    display: block;
    width: 50%;
    margin: auto;
    padding: 20px;
}

#radio {

    display: flex;
}

#checkboxes{
    display: flex;
    align-items: flex-start;
}
 